body {
    margin:0;
    padding:0;
    height:100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:green;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:500px;
}

button{
    width:100px;
    cursor: pointer;
    background: linear-gradient(to right, green,red);
}